<template name="detail">
	<div class="detail">
		<div class="breadcrumb">
			<a href="/pictures" title=""><i class="fa fa-arrow-left"></i></a>
			<span class="breadcrumb__text"></span> 	
			<span class="pull-right">
				<a href="#" title=""><i class="fa fa-search"></i></a>
				<a href="#" title=""><i class="fa fa-filter"></i></a>
				<a href="/login.html" title=""><i class="fa fa-user"></i></a>
			</span>
		</div>
		<div class="detail__profile-meta"></div>
		<div class="detail__img"></div>
		<div class="detail__img-meta">
			<i class="fa fa-heart"><span>54</span></i><i class="fa fa-eye"><span>8.345</span></i><i class="fa fa-comment"><span>20</span></i><i class="fa fa-share"></i>
		</div>
		<div class="detail__img-colors"></div>
		<div class="container">
			
		</div>
	</div>
</template>