<template name="login">
<!-- 	{{> loginButtons}} -->
	<div class="breadcrumb">
		<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> 
		<span class="breadcrumb__text">Login</span>  
<!-- 		<span class="glyphicon glyphicon-option-vertical pull-right" aria-hidden="true"></span> -->
	</div>
	<div class="container">
		<p>Log in or sign up to share your pics with other people!</p>
		<form>
			<div class="input-group">
				<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
				<input type="text" placeholder="Username" name="username">
				
			</div>
			<div class="input-group">
				<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
				<input type="password" placeholder="Password" name="username">
			</div>
		</form>
		<button type="submit" name="login" class="login">Login</button>
		<p>Trouble logging in?</p>
		<hr>
		<p><i class="fa fa-facebook-official"></i>Sign up with Facebook</p>
		<p>Don't have an accpunt? <a href="">Sign up now!</a></p>
	</div>
</template>
