<template name="login">
	<div id="login"
		class="fullscreenLayout">

		<div class="container">

			<p>Log in or sign up to share your pics!</p>

			<form>
				<div class="input-group">
					<i class="fa fa-user"></i>
					<input type="text" placeholder="Username" id="login_username">
				</div>
				<div class="input-group">
					<i class="fa fa-lock"></i>
					<input type="password" placeholder="Password" id="login_password">
				</div>
				<button type="submit" name="login">Login</button>
			</form>

			<a href="/forgot" title="Forgot your login?">
				<p class="troublelink">Trouble logging in?</p>
			</a>
			<span class="seperator">
				<img id="login_logo" src="images/logo_icon.svg">
			</span>

			<p class="signuplink">
				<a href="/signup" title="Sign up to Qala">Don't have an account? Sign up now!</a>
			</p>

		</div>
	</div>
</template>
