<template name="forgot">
<!-- 	{{> loginButtons}} -->
	<div class="breadcrumb">
		<a href="/login" title="Back to login screen"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
		<span class="breadcrumb__text">Recover Login Data</span>  
<!-- 		<span class="glyphicon glyphicon-option-vertical pull-right" aria-hidden="true"></span> -->
	</div>
	<div class="container">
		<p>Enter your username or email address. You will soon receive an email with your login data.</p>
		<form>
			<div class="input-group">
				<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
				<input type="text" placeholder="Username" name="username">
			</div>
			<hr>
			<div class="input-group">
				<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
				<input type="password" placeholder="Password" name="username">
			</div>
			<button type="submit" name="login" class="login">Send</button>
		</form>	
	</div>
</template>
