<template name="forgot">
	<div id="forgot"
		class="fullscreenLayout">

		<div class="container">

			<p>Enter your username or email address. You will soon receive an email with your login data.</p>

			<form>
				<div class="input-group">
					<i class="fa fa-user"></i>
					<input type="text" placeholder="Username" name="forgot_username" id="forgot_username">
				</div>
				<span class="seperator">Or</span>
				<div class="input-group">
					<i class="fa fa-envelope-o"></i>
					<input type="email" placeholder="E-Mail" name="forgot_email" id="forgot_email">
				</div>
				<button type="submit" name="forgot" id="forgot">Send</button>
			</form>

		</div>
	</div>
</template>
