/* HEADER (old) */

.breadcrumb {
  background: #1DBCD4;
  color: white;
  height: 52px;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 52px;
  padding: 0 15px; }
  .breadcrumb a  {
    color: white; }
  .breadcrumb__text {
    margin-left: 20px; }
  .breadcrumb span .fa {
    margin-left: 20px; }
  .breadcrumb img {
    width: 40px;
    vertical-align: middle; }

/*
===============================
 FORGOTT LOGIN SIGNUP WELCOME
===============================
*/
.login, .signup, .forgot, .welcome {
  min-height: 100vh;
  background: url(/images/bg.png) center center; }
  .login p, .signup p, .forgot p, .welcome p {
    font-size: 18px;
    font-size: 1.8rem;
    color: white;
    margin: 0 0 20px 0; }
  .login .input-group, .signup .input-group, .forgot .input-group, .welcome .input-group {
    position: relative;
    font-size: 16px;
    font-size: 1.6rem;
    color: white;
    margin-bottom: 20px; }
    .login .input-group .fa, .signup .input-group .fa, .forgot .input-group .fa, .welcome .input-group .fa {
      position: absolute;
      line-height: 45px;
      padding-left: 15px; }
    .login .input-group input, .signup .input-group input, .forgot .input-group input, .welcome .input-group input {
      padding-left: 45px;
      height: 45px;
      line-height: 45px;
      width: 100%;
      border-radius: 0;
      background: transparent;
      border: 1px solid white; }
  .login button, .signup button, .forgot button, .welcome button {
    width: 100%;
    height: 45px;
    background: #FF4081;
    text-align: center;
    color: white;
    border: 0;
    font-size: 16px;
    font-size: 1.6rem;
    margin-bottom: 10px; }
  .login .troublelink, .login .signupfacebook, .login .signuplink, .signup .troublelink, .signup .signupfacebook, .signup .signuplink, .forgot .troublelink, .forgot .signupfacebook, .forgot .signuplink, .welcome .troublelink, .welcome .signupfacebook, .welcome .signuplink {
    text-align: center;
    font-size: 14px;
    font-size: 1.4rem; }
  .login a, .signup a, .forgot a, .welcome a {
    color: white;
    text-decoration: none; }
  .login hr, .signup hr, .forgot hr, .welcome hr {
    margin-bottom: 20px; }
  .login img, .signup img, .forgot img, .welcome img {
    width: 50%;
    transform: translate(50%, 150%); }
  .login .seperator, .signup .seperator, .forgot .seperator, .welcome .seperator {
    display: block;
    text-align: center;
    position: relative;
    color: white;
    font-size: 14px;
    font-size: 1.4rem;
    margin-bottom: 20px;
    text-transform: uppercase; }
    .login .seperator:before, .login .seperator:after, .signup .seperator:before, .signup .seperator:after, .forgot .seperator:before, .forgot .seperator:after, .welcome .seperator:before, .welcome .seperator:after {
      content: '';
      display: block;
      position: absolute;
      border-top: 1px solid white;
      width: 45%;
      top: 50%; }
    .login .seperator:after, .signup .seperator:after, .forgot .seperator:after, .welcome .seperator:after {
      right: 0; }
  .login .container, .signup .container, .forgot .container, .welcome .container {
    padding: 30px; }
    .login .container a, .signup .container a, .forgot .container a, .welcome .container a {
      display: block; }
