/* ========
	SEARCH
   ======== */

#pictures_search
{
	display: none;
	position: fixed;
	top : 50px;
	width: 100%;
	height: 50px;
	padding-top: 5px;
	padding-left: 2.5%;
  background: #fff;
	z-index : 1;
}

#pictures_search_icon {
	font-size: 1.6em;
	color: #1DBCD4;
}

#pictures_search_input
{
	width: 85%;
	color: #333;
	font-size: 1.2em;
	margin-top: 5px;
	margin-bottom: 0;
	background-image: linear-gradient(#1DBCD4, #1DBCD4);
}

#pictures_search_no_results
{
	color: #333;
	font-size: 1.1em;
	text-align: center;
	margin-top: 115px;
}

/* ========
	GRID
   ======== */

#pictures_grid
{
	width: 100%;
}

.masonry_element
{
	width: 50%;
	padding: 5px;
}

.grid-item,
.grid-item-picture
{
    width: 100%;
    padding: 0;
    margin: 0;
}

.grid-item-picture
{
	cursor: pointer;
}

.grid-item-info
{
	height: 35px;
	padding: 10px;
	background: white;
	color: #B3B3B3;
}

.grid-item-likes
{
	float: left;
	cursor: pointer;
}

.grid-item-comments
{
	float: right;
	cursor: pointer;
}

/* ========
	UPLOAD
   ======== */

#pictures_upload
{
	position: fixed;
	bottom: 2.5%;
	right: 2.5%;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background: #FF4081;
	font-size: 2.7em;
	text-align: center;
	border: 0;
}

#pictures_upload_icon
{
	margin-top: -8px;
}
