/*
===============================
			PARTIALS
===============================
*/

@import 'normalize';


/*
===============================
			COLORS
===============================
*/

$blue: #1DBCD4;
$lightgrey: #B3B3B3;
$darkgrey: #555555;
$white: white;
$pink: #FF4081;
$bg-grey: #E0E0E0;

/*
===============================
			MIXINS
===============================
*/

@mixin rem2pix($size) {
	font-size: $size*10px;
	font-size: $size*1rem;
}


/*
===============================
			GENERAL
===============================
*/


* {
	box-sizing: border-box;
}

html, body, #__blaze-root {
	min-height: 100vh;
 	font-size: 62.5%;
}

.breadcrumb {
	background: $blue;
	color: $white;
	height: 52px;
	@include rem2pix(1.8);
	line-height: 52px;
	padding: 0 15px;
	a {
		color: $white;
		&:hover, &:active, &:focus {
			
		}
	}
	&__text {
		margin-left: 20px;
	}
	span .fa {
		margin-left: 20px;
	}
	img {
		width: 40px;
		vertical-align: middle;
	}
}

%clearfix {
  *zoom: 1;
  &::before,
  &::after {
    content: " ";
    display: table;
  }

  &::after {
    clear: both;
  }
}


/*
===============================
			
===============================
*/


/*
===============================
 FORGOTT LOGIN SIGNUP WELCOME
===============================
*/

.login, .signup, .forgot, .welcome {
	min-height: 100vh;
	background: url(/images/bg.png) center center;
	p {
		@include rem2pix(1.8);
		color: $white;
		margin: 0 0 20px 0;
	}
	.input-group {
		position: relative;
		@include rem2pix(1.6);
		color: $white;
		margin-bottom: 20px;
		.fa {
			position: absolute;
			line-height: 45px;
			padding-left: 15px;
		}
		input {
			padding-left: 45px;
			height: 45px;
			line-height: 45px;
			width: 100%;
			border-radius: 0;
			background: transparent;
			border: 1px solid $white;
		}
	}
	button {
		width: 100%;
		height: 45px;
		background: $pink;
		text-align: center;
		color: $white;
		border: 0;
		@include rem2pix(1.6);
		margin-bottom: 10px;
	}
	.troublelink, .signupfacebook, .signuplink {
		text-align: center;
		@include rem2pix(1.4);
	}
	a {
		color: white;
		text-decoration: none;
		&:hover, &:active, &:focus {
			
		}
	}
	hr {
		margin-bottom: 20px;
	}
	img {
		width: 50%;
		transform: translate(50%,150%);
	}
	.seperator {
		display: block;
		text-align: center;
		position: relative;
		color: $white;
		@include rem2pix(1.4);
		margin-bottom: 20px;
		text-transform: uppercase;
		&:before,&:after {
			content: '';
			display: block;
			position: absolute;
			border-top: 1px solid $white;
			width: 45%;
			top: 50%;
		 }
		&:after {
			right: 0;
		}
	}
	.container {
		padding: 30px;
		a {
			display: block;
		}
	}
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    white;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    white;
}

/*
===============================
			PICTURES
===============================
*/

.pictures {
	min-height: 100vh;
	background: $bg-grey;
	.container {
// 		padding: 10px;
		margin: 10px 5px 0;
		position: relative;
		@extend %clearfix;
		.item {
			width: 50%;
			float: left;
/*
			margin-bottom: 10px;
			&:nth-child(2n+1){
				padding-right: 5px;
			}
			&:nth-child(2n+2){
				padding-left: 5px;
			}
*/
			padding: 0 5px 10px;
			&__inner {
				img {
					width: 100%;
					max-width: 100%;
					display: block;
				}
				&__meta {
					background: $white;
					padding: 10px;
					height: 38px;
					color: $lightgrey;
					@include rem2pix(1.8);
					.fa-comment, .fa-heart {
						color: $blue;
					}
					span {
						@include rem2pix(1.4);
						margin-left: 5px;
						color: $lightgrey;
					}
				}
			}
		}
		button.new_picture {
			position: fixed;
			bottom: 10px;
			right: 10px;
			height: 70px;
			width: 70px;
			text-align: center;
			border-radius: 50%;
			background: $pink;
			color: $white;
			@include rem2pix(1.8);
			border: 0;
		}
	}
}

/*
===============================
			DETAIL
===============================
*/

.detail {
	&__profile-meta {
		padding: 10px;
		height: 70px;
		img {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			float: left;
			margin-right: 10px;
		}
		span {
			display: block;
			line-height: 25px;
			color: $lightgrey;
			@include rem2pix(1.5);
			&:nth-child(2) {
				@include rem2pix(1.2);
			}
			.fa {
				margin-right: 5px;
			}
		}
		.author-name {
			color: $blue;
			display: inline;
		}
	}
	&__img {
		@extend %clearfix;
		height: 400px; // ???
		overflow: hidden;
		text-align: center;
	}
	&__img-meta {
		@extend %clearfix;
		background: $white;
		height: 38px;
		color: $lightgrey;
		@include rem2pix(1.8);
		.fa-comment, .fa-heart {
			color: $blue;
		}
		span {
			@include rem2pix(1.4);
			margin-left: 5px;
			color: $lightgrey;
		}
		i {
			width: 25%;
			text-align: center;
			line-height: 38px;
		}
	}
	&__img-colors {
		@extend %clearfix;
		span {
			height: 23px;
			width: 25%;
			display: inline-block;
		}
	}
	.container {
		margin: 10px 5px 0;
		position: relative;
		@extend %clearfix;
		p {
			@include rem2pix(1.6);
			color: $darkgrey;
			margin-left: 5px;
		}
		.item {
			width: 50%;
			float: left;
			padding: 0 5px 10px;
			&__inner {
				img {
					width: 100%;
					max-width: 100%;
				}
				&__meta {
					background: $white;
					padding: 10px;
					height: 38px;
					color: $lightgrey;
					@include rem2pix(1.8);
					.fa-comment, .fa-heart {
						color: $blue;
					}
					span {
						@include rem2pix(1.4);
						margin-left: 5px;
						color: $lightgrey;
					}
				}
			}
		}
	}
}

/*
===============================
			PROFILE
===============================
*/

.profile {
	&__meta {
		text-align: center;
		height: 200px;background: url(1.png);
		&__img {
			transform: translate(0%,50%);
			img {
				width: 70px;
				height: 70px;
				border-radius: 50%;
			}
			p {
				width: 100%;
				text-align: center;
				@include rem2pix(1.9);
				color: $white;
			}
		}
	}
	&__subnav {
		a {
			width: 50%;
			height: 40px;
			@include rem2pix(1.4);
			line-height: 40px;
			text-align: center;
			color: $blue;
			display: inline-block;
			text-transform: uppercase;
			border-bottom: 1px solid $lightgrey;
			text-decoration: none;
			&.active {
				border-bottom: 3px solid $blue;
			}
			&:hover, &:active, &:focus {
				border-bottom: 3px solid $blue !important;
			}
			
		}
	}
	.uploads, .likes {
		display: none;
	}
	.active_tab {
		display: block;
	}
	.container {
// 		margin: 10px 5px 0;
		padding: 10px 5px;
		position: relative;
		@extend %clearfix;
		background: $bg-grey;
		p {
			@include rem2pix(1.6);
			color: $darkgrey;
			margin-left: 5px;
		}
		.item {
			width: 50%;
			float: left;
			padding: 0 5px 10px;
			&__inner {
				img {
					width: 100%;
					max-width: 100%;
				}
				&__meta {
					background: $white;
					padding: 10px;
					height: 38px;
					color: $lightgrey;
					@include rem2pix(1.8);
					.fa-comment, .fa-heart {
						color: $blue;
					}
					span {
						@include rem2pix(1.4);
						margin-left: 5px;
						color: $lightgrey;
					}
				}
			}
		}
	}
}

/*
===============================
			Comments
===============================
*/
.comments{
	.container {
		padding-bottom: 60px;
		.load_more {
			padding: 10px;
			margin: 10px;
			border-bottom: 1px solid $bg-grey;
			p{
				@include rem2pix(1.6);
				margin: 0;
				text-align: center;
				color: $bg-grey;
			}
		}
		.comment {
			padding: 10px;
			&:nth-child(2n+1){
				background: #F9F9F9;
			}
			&__img {
				display: inline-block;
				vertical-align: top;
				margin-right: 10px;
				width: 20%;
				img {
					width: 70px;
					height: 70px;
					border-radius: 50%;
				}
			}
			&__content {
				display: inline-block;
				width: 75%;
				p {
					margin-top: 0;
				}
				&__author {
					@include rem2pix(1.8);
					color: $darkgrey;
				}
				&__comment{
					@include rem2pix(1.6);
					color: $darkgrey;
				} 
				&__meta {
					@include rem2pix(1.4);
					color: $lightgrey;
					a {
						color: $lightgrey;
					}
				}
				.fa {
					@include rem2pix(1.4);
					color: $darkgrey;
					line-height: 16px;
					span {
						margin-left: 5px;
					}
				}
			}
		}
	}
	form {
		position: fixed;
		bottom: 0;
		width: 100%;
		margin: 0;
		input {
			height: 50px;
			width: 100%;
			background: #F9F9F9;
			border: 0;
			border-top: 1px solid $lightgrey;
			display: inline-block;
			@include rem2pix(1.6);
			padding-left: 10px;
			padding-right: 25%;
			color: $lightgrey;
		}
		button {
			height: 50px;
			width: 20%;
			background: $pink;
			display: inline-block;
			border: 0;
			color: $white;
			position: absolute;
			bottom: 0;
			right: 0;
			@include rem2pix(1.6);
		}
		::-webkit-input-placeholder { /* WebKit, Blink, Edge */
		    color:    $lightgrey;
		}
		:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		   color:    $lightgrey;
		   opacity:  1;
		}
		::-moz-placeholder { /* Mozilla Firefox 19+ */
		   color:    $lightgrey;
		   opacity:  1;
		}
		:-ms-input-placeholder { /* Internet Explorer 10-11 */
		   color:    $lightgrey;
		}
	}
}