<template name="pictures">
	<div id="pictures"
		class="mainLayout">

		{{#if Template.subscriptionsReady}}

		<div id="pictures_search" class="form-group">
			<div class="input-group">
				<span class="input-group-addon">
					<i id="pictures_search_icon" class="mdi-action-search"></i>
				</span>

				<input
					type="text"
					id="pictures_search_input"
					class="form-control floating-label"
					placeholder="Search for uploads by username">
			</div>
		</div>

		{{#if pictures}}
			{{#masonryContainer id="pictures_grid" itemSelector=".masonry_element" columnWidth=".masonry_element" }}
		 		{{#each pictures}}
			 		{{#masonryElement "pictures_grid"}}

					<div class="grid-item">
						<img class="grid-item-picture" src={{ url }}>
						<div class="grid-item-info">
							<i class="grid-item-likes fa fa-heart-o">
								{{#if likes}}
								<span>{{ likes.length}}</span>
								{{ else }}
								<span>0</span>
								{{/if}}
							</i>
							<i class="grid-item-comments fa fa-comment-o">
								{{#if comments}}
								<span>{{ comments }}</span>
								{{ else }}
								<span>0</span>
								{{/if}}
							</i>
						</div>
					</div>

			 		{{/masonryElement}}
		 		{{/each}}
			{{/masonryContainer}}
		{{ else }}
			<div id="pictures_search_no_results">
				<p>No uploads found.</p>
			</div>
		{{/if}}

		<button id="pictures_upload">
				<div id="pictures_upload_icon">+</div>
		</button>

		{{/if}}

	</div>
</template>
