<template name="pictures">
	<div id="pictures"
		class="mainLayout">

		{{#if Template.subscriptionsReady}}

		<div id="pictures_search" class="form-group">
			<div class="input-group">
				<span class="input-group-addon">
					<i id="pictures_search_icon" class="mdi-action-search"></i>
				</span>

				<input
					type="text"
					id="pictures_search_input"
					class="form-control floating-label"
					placeholder="Search for uploads by username">
			</div>
		</div>

		{{#masonryContainer id="pictures_grid" itemSelector=".masonry_element" columnWidth=".masonry_element" }}
	 		{{#each pictures}}
		 		{{#masonryElement "pictures_grid"}}

				<div class="grid-item">
					<img class="grid-item-picture" src={{ url }}>
					<!--<h2 class="post-title">{{ title }}</h2>
					<p class="post-info">by {{ partnerName }} | {{ formatTime submitted }} | {{ categoryName }}</p>
					<p class="post-content">{{ content }}</p>-->
				</div>

		 		{{/masonryElement}}
	 		{{/each}}
		{{/masonryContainer}}

		<button id="pictures_upload">
				<div id="pictures_upload_icon">+</div>
		</button>

		{{/if}}

		<!-- old code -->
		<!--<div class="grid js-masonry"
  data-masonry-options='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
			<div class="grid-item">

					<a href="#"><img src="/images/1.png"></a>

			</div>
			<div class="grid-item">

					<a href="#"><img src="/images/1.png"></a>

			</div>
			<div class="grid-item">
				<div class="item__inner">
					<a href="#"><img src="/images/1.png"></a>
					<div class="item__inner__meta">
						<i class="fa fa-heart-o"><span>54</span></i><i class="fa fa-comment-o pull-right"><span>20</span></i>
					</div>
				</div>
			</div>-->

	</div>
</template>
