<template name="pictures">
	<div class="pictures">
		<div class="breadcrumb">
			<img src="/images/logo_kopf.svg" alt="Qala Logo">
			<span class="breadcrumb__text">Uploads</span> 	
			<span class="pull-right">
				<a href="#" title=""><i class="fa fa-search"></i></a>
				<a href="#" title=""><i class="fa fa-filter"></i></a>
				<a href="/login.html" title=""><i class="fa fa-user"></i></a>
			</span>
		</div>	
	</div>
<!--
	<div class="breadcrumb">
		<img src="/images/logo_kopf.svg" alt="Qala Logo">
		<span class="breadcrumb__text">Uploads</span> 
		<a href="/login.html"><i class="fa fa-user pull-right"></i></a>
		<i class="fa fa-filter pull-right"></i>
		<i class="fa fa-search pull-right"></i>
	</div>
	<div class="container pictures">
		
	</div>
-->
</template>
