<template name="comments">
	<div class="comments">
		<div class="container">
			<div class="load_more">
				<p>Load More...</p>
			</div>
			<div class="comment">
				<div class="comment__img">
					<img src="1.png">
				</div>
				<div class="comment__content">
					<p class="comment__content__author">Carry Parker</p>
					<p class="comment__content__comment">Looks awesome! :)</p>
					<span class="comment__content__meta">4 monts ago | <a href="#">Reply</a> | <a href="#">Like</a></span><i class="fa fa-heart-o pull-right"><span>32 Likes</span></i>
				</div>
			</div>
			<div class="comment">
				<div class="comment__img">
					<img src="1.png">
				</div>
				<div class="comment__content">
					<p class="comment__content__author">Carry Parker</p>
					<p class="comment__content__comment">Looks awesome! :)</p>
					<span class="comment__content__meta">4 monts ago | <a href="#">Reply</a> | <a href="#">Like</a></span><i class="fa fa-heart-o pull-right"><span>32 Likes</span></i>
				</div>
			</div>
			<div class="comment">
				<div class="comment__img">
					<img src="1.png">
				</div>
				<div class="comment__content">
					<p class="comment__content__author">Carry Parker</p>
					<p class="comment__content__comment">Looks awesome! :)Looks awesome! :)Looks awesome! :)Looks awesome! :)Looks awesome! :)Looks awesome! :)Looks awesome! :)Looks awesome! :)Looks awesome! :)Looks awesome! :)Looks awesome! :)Looks awesome! :)Looks awesome! :)Looks awesome! :)Looks awesome! :)Looks awesome! :)Looks awesome! :)Looks awesome! :)Looks awesome! :)Looks awesome! :)Looks awesome! :)Looks awesome! :)Looks awesome! :)Looks awesome! :)Looks awesome! :)</p>
					<span class="comment__content__meta">4 monts ago | <a href="#">Reply</a> | <a href="#">Like</a></span><i class="fa fa-heart-o pull-right"><span>32 Likes</span></i>
				</div>
			</div>
			<div class="comment">
				<div class="comment__img">
					<img src="1.png">
				</div>
				<div class="comment__content">
					<p class="comment__content__author">Carry Parker</p>
					<p class="comment__content__comment">Looks awesome! :)Looks awesome! :)Looks awesome! :)Looks awesome! :)Looks awesome! :)Looks awesome! :)Looks awesome! :)Looks awesome! :)Looks awesome! :)Looks awesome! :)Looks awesome! :)Looks awesome! :)Looks awesome! :)Looks awesome! :)Looks awesome! :)Looks awesome! :)Looks awesome! :)Looks awesome! :)Looks awesome! :)Looks awesome! :)Looks awesome! :)Looks awesome! :)Looks awesome! :)Looks awesome! :)Looks awesome! :)</p>
					<span class="comment__content__meta">4 monts ago | <a href="#">Reply</a> | <a href="#">Like</a></span><i class="fa fa-heart-o pull-right"><span>32 Likes</span></i>
				</div>
			</div>
		</div>
		<form>
			<input type="text" id="comment" placeholder="Write a comment">
			<button type="submit">Post</button>
		</form>
	</div>
</template>
