<template name="profile">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.2.0/imagesloaded.pkgd.min.js"></script>
	<div class="profile">
		<div class="breadcrumb">
			<img src="/images/logo_kopf.svg" alt="Qala Logo">
			<span class="breadcrumb__text">Profile</span> 	
			<span class="pull-right">
				<a href="#" title=""><i class="fa fa-search"></i></a>
				<a href="#" title=""><i class="fa fa-filter"></i></a>
				<a href="#" title="" class="logout"><i class="fa fa-sign-out"></i></a>
			</span>
		</div>
		<div class="profile__meta" style="background: url('/images/1.png');">
			<div class="profile__meta__img">
				<img src="/images/1.png">
				<p>Monica Jameson</p>
			</div>
		</div>
		<div class="container js-masonry"
  data-masonry-options='{ "columnWidth": ".item", "itemSelector": ".item" }'>
			<div class="item ">
				<div class="item__inner">
					<a href="#"><img src="/images/1.png"></a>
					<div class="item__inner__meta">
						<i class="fa fa-heart-o"><span>54</span></i><i class="fa fa-comment-o pull-right"><span>20</span></i>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="item__inner">
					<a href="#"><img src="/images/2.png"></a>
					<div class="item__inner__meta">
						<i class="fa fa-heart"><span>54</span></i><i class="fa fa-comment pull-right"><span>20</span></i>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="item__inner">
					<a href="#"><img src="/images/3.png"></a>
					<div class="item__inner__meta">
						<i class="fa fa-heart-o"><span>54</span></i><i class="fa fa-comment-o pull-right"><span>20</span></i>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="item__inner">
					<a href="#"><img src="/images/4.png"></a>
					<div class="item__inner__meta">
						<i class="fa fa-heart-o"><span>54</span></i><i class="fa fa-comment-o pull-right"><span>20</span></i>
					</div>
				</div>
			</div>
		</div>	
	</div>
</template>
