<template name="signup">
	<div class="signup">
		<div class="breadcrumb">
			<a href="/login" title=""><i class="fa fa-arrow-left"></i></a>
			<span class="breadcrumb__text">Sign up</span> 
		</div>	
		<div class="container">
			<p>Please enter username, email address and a password to create an account.</p>
			<form>
				<div class="input-group">
					<i class="fa fa-user"></i>
					<input type="text" placeholder="Username" name="signup_username" id="signup_username">
					
				</div>
				<div class="input-group">
					<i class="fa fa-envelope-o"></i>
					<input type="email" placeholder="E-Mail" name="signup_email" id="signup_email">
				</div>
				<div class="input-group">
					<i class="fa fa-lock"></i>
					<input type="password" placeholder="Password" name="signup_password" id="signup_password">
				</div>
				<button type="submit" name="singup" id="signup">Sign up</button>
			</form>
		</div>
	</div>
</template>