<template name="verify">
	<div id="verify"
		class="fullscreenLayout">

		<div class="container">

			<p>You should receive an email with a verification link.</p>

			<!-- <form>
				<div class="input-group">
					<i class="fa fa-user"></i>
					<input type="text" placeholder="Username" name="signup_username" id="signup_username">

				</div>
				<div class="input-group">
					<i class="fa fa-envelope-o"></i>
					<input type="email" placeholder="E-Mail" name="signup_email" id="signup_email">
				</div>
				<div class="input-group">
					<i class="fa fa-lock"></i>
					<input type="password" placeholder="Password" name="signup_password" id="signup_password">
				</div>
				<button type="submit" name="singup" id="signup">Sign up</button>
			</form> -->

		</div>
	</div>
</template>
